#title{
    text-align: center;
    font: 30px bold;
}
#header{
    width: 100%;
    position: fixed;
    top: 0%;
    border-bottom: solid black 1px;
    padding: 5px;
    z-index: 1;
    background: url(../images/background.png);
    color: white;
}
#content{
    padding: 5px;
}
#form{
    text-align: center;
}
.gif{
    float: left;
    margin: 5px;
    position: relative;
}
#gifDiv{
    clear: both;
    border-top: solid black 1px;
}
#title,#form,.animalButton,.gifText{
    margin: 5px;
}
.downloadButton{
    border: none;
    background-color: transparent;
    color: yellow;
    position: absolute;
    right: 1%;
    bottom: 2%;
    width: 16px;
    height: 16px;
    text-decoration: none;
}
.favButton{
    border: none;
    background-color: transparent;
    color: aqua;
    position: absolute;
    left: 0%;
    top: 18%;
    width: 16px;
    height: 16px;
    font-size: 20px;
}
.removeButton{
    border: none;
    background-color: transparent;
    color: red;
    position: absolute;
    left: 0%;
    top: 18%;
    width: 16px;
    height: 16px;
    font-size: 20px;
}